

body{
  margin: 0px;
}
#grundlayer{
  display: block;
  width: 1867px;
  height: 1500px;
  top: 0px;
}

#hintergrund{
  background-color: green;
  width: 1000px;
  height: 1500px;
  top: 0px;
  left: 20%;
  position: relative;
}

#block1{
  background-color: #3d3d3d;
  width: 1863px;
  height: 100px;
  top: 0px;
  left: -23.5rem;
  position: absolute;
  border-style: outset;
  border-color: grey;
}
#block1inner{
  width: 1867px;;
  height: 80px;
  background-color: #ffffff;
  position: absolute;
  display: inline-block;
  right: -49.5%;
  opacity: 85%;
}

#block2{
  background-color: #ffffff;
  width: 1200px;
  height: 600px;
  top: 19rem;
  left: -6.5rem;
  position: absolute;
  border-radius: 25px;
  border-style: outset;
  border-color: grey;
  opacity: 85%;
}
#block2h1 {
  font-family: "Arial", Arial, serif;
  font-size: 40px;
  left: 5rem;
  top: 1rem;
  position:relative;
}

#block2textblock{
  width:80%;
  height: 80%;
  position:relative;
  top: 3rem;
  left: center;

}


#textblock2{
  font-family: "Arial", Arial, serif;
  font-size: 20px;
  left: 5rem;
  position:relative;


}

#bild{
  width: 270px;
  height:270px;
  position: absolute;
  left:23.5rem;
  top:10rem;
  border-radius: 500px;
  border-style:outset;
  border-width:thick;
  border-color: #0c611e;
  bordr
  }

  #picture{
    position: relative;
    top: .3rem;
    left: .3rem;
    border-style: inset;
    border-width: thick;
    border-color: grey;
    border-radius: 500px;

  }

#block3{
  background-color: #ffffff;
  width: 500px;
  height: 400px;
  top: 60rem;
  left: -6.5rem;
  position: absolute;
  border-radius: 25px;
  border-style: outset;
  border-color: grey;
  opacity: 85%;
  }

  ul.skillliste{
    list-style-type:none;

  }

#block4{
  background-color: #ffffff;
  width: 500px;
  height: 400px;
  top: 60rem;
  right: -6.5rem;
  position: absolute;
  border-radius: 25px;
  border-style: outset;
  border-color: grey;
  opacity: 85%;
}

#block5{
  background-color: #ffffff;
  width: 1863px;
  height: 100px;
  bottom: 0px;
  left: -23.5rem;
  position: absolute;
  border-style: outset;
  border-color: grey;

}
